:root {
    --mercury-image: url("../../assets/img/mercury2.jpg");
    --mercury-tilt: rotate(0.034deg);
    --mercury-day: 1407.6;
    --mercury-color: #999;
    --venus-image: url("../../../public/assets/img/textures/venus.jpg");
    --venus-tilt: rotate(177.3deg);
    --venus-day: 5832.5;
    --venus-color: #e8cda2;
    --terre-image: url("../../../public/assets/img/textures/terre.jpg");
    --terre-tilt: rotate(23.26deg);
    --terre-day: 23.9;
    --terre-color: #b3caff;
    --mars-image: url("../../../public/assets/img/textures/mars.jpg");
    --mars-tilt: rotate(25.2deg);
    --mars-day: 24.6;
    --mars-color: #c07158;
    --jupiter-image: url("../../assets/img/jupiter.jpg");
    --jupiter-tilt: rotate(3.1deg);
    --jupiter-day: 9.9;
    --jupiter-color: #c9b5a4;
    --saturn-image: url("../../assets/img/saturn.jpg");
    --saturn-tilt: rotate(26.7deg);
    --saturn-day: 10.7;
    --saturn-color: #f0e2c4;
    --uranus-image: url("../../assets/img/uranus2.jpg");
    --uranus-tilt: rotate(97.8deg);
    --uranus-day: 17.2;
    --uranus-color: #b8d8e1;
    --neptune-image: url("../../../public/assets/img/textures/neptune.jpg");
    --neptune-tilt: rotate(28.3deg);
    --neptune-day: 16.1;
    --neptune-color: #5e73bb;
    --pluto-image: url("../../assets/img/pluto.jpg");
    --pluto-tilt: rotate(122.5deg);
    --pluto-day: 153.3;
    --pluto-color: #c3b6aa;
    --sun-image: url("../../assets/img/sun.jpg");
    --sun-tilt: rotate(0deg);
    --sun-day: 600;
    --sun-color: #cc9f4c;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10
}

.sidenav-overlay {
    position: inherit;
}

/* Loader  */
.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}

/* Zone camera */

.zone_ar{
    margin: 0;
    overflow: hidden;
    width: 100%;
}

/* Design bouton */

.buttons {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    margin: 0 15px;
    cursor: pointer;
    font-weight: bold;
}

/* Info */
@media only screen and (max-width: 900px) {
    #info {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        border: 2px solid black;
        background-color: white;
        color: black;
        box-shadow: 10px 5px 5px #262626;
        border-radius: 10px;
        display: none;
        width: 300px;
        height: 430px ;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
}

@media only screen and (min-width: 901px){
    #info {
        text-align: center;
        border: 2px solid black;
        background-color: white;
        color: black;
        box-shadow: 10px 5px 5px #262626;
        border-radius: 10px;
        display: none;
        position: absolute;
        top: 20%;
        bottom: 0;
        left: 2.5%;
        width: 300px;
        height: 50%;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }
}

.xmark{
    position: relative;
    left: 120px;
    top: 10px;
    cursor: pointer;
}

.content-info{
    position: relative;
}

.font-bold{
    font-weight: bold;
}

.format_lune{
    width: 75%;
    margin: 0 auto;
    position: relative;
}

/* Visualiser planete info */

@keyframes planetRotate {
    0% {
        background-position: 0 center;
    }

    100% {
        background-position: -200% center;
    }
}

.cards {
    margin: 10px auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mercury .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--mercury-color);
}

.mercury .surface {
    background-image: var(--mercury-image);
    transform: var(--mercury-tilt) scale(1.2);
    animation: planetRotate calc(var(--mercury-day) * 0.1s) linear infinite;
}

.mercury .planet::before {
    transform: var(--mercury-tilt) scale(1.2);
    border-color: var(--mercury-color);
    color: var(--mercury-color);
}

.mercury .icon {
    transform: var(--mercury-tilt);
    color: var(--mercury-color);
}

.venus .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--venus-color);
}

.venus .surface {
    background-image: var(--venus-image);
    transform: var(--venus-tilt) scale(1.2);
    animation: planetRotate calc(var(--venus-day) * 0.1s) linear infinite;
}

.venus .planet::before {
    transform: var(--venus-tilt) scale(1.2);
    border-color: var(--venus-color);
    color: var(--venus-color);
}

.venus .icon {
    transform: var(--venus-tilt);
    color: var(--venus-color);
}

.terre .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--terre-color);
}

.terre .surface {
    background-image: var(--terre-image);
    transform: var(--terre-tilt) scale(1.2);
    animation: planetRotate calc(var(--terre-day) * 0.1s) linear infinite;
}

.terre .planet::before {
    transform: var(--terre-tilt) scale(1.2);
    border-color: var(--terre-color);
    color: var(--terre-color);
}

.terre .icon {
    transform: var(--terre-tilt);
    color: var(--terre-color);
}

.mars .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--mars-color);
}

.mars .surface {
    background-image: var(--mars-image);
    transform: var(--mars-tilt) scale(1.2);
    animation: planetRotate calc(var(--mars-day) * 0.1s) linear infinite;
}

.mars .planet::before {
    transform: var(--mars-tilt) scale(1.2);
    border-color: var(--mars-color);
    color: var(--mars-color);
}

.mars .icon {
    transform: var(--mars-tilt);
    color: var(--mars-color);
}

.jupiter .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--jupiter-color);
}

.jupiter .surface {
    background-image: var(--jupiter-image);
    transform: var(--jupiter-tilt) scale(1.2);
    animation: planetRotate calc(var(--jupiter-day) * 0.1s) linear infinite;
}

.jupiter .planet::before {
    transform: var(--jupiter-tilt) scale(1.2);
    border-color: var(--jupiter-color);
    color: var(--jupiter-color);
}

.jupiter .icon {
    transform: var(--jupiter-tilt);
    color: var(--jupiter-color);
}

.saturn .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--saturn-color);
}

.cercle_saturn{
    position: absolute;
    top: 90px;
    right: -15px;
    background-image: var(--saturn-image);
    border-radius:50%;
    width:215px;
    height:20px;
    border-top:1px solid #000000;
    border-bottom: 2px solid transparent;
    transform: var(--saturn-tilt) scale(1.2);
    animation: planetRotate calc(var(--saturn-day) * 0.5s) linear infinite;
}


.saturn .surface {
    background-image: var(--saturn-image);
    transform: var(--saturn-tilt) scale(1.2);
    animation: planetRotate calc(var(--saturn-day) * 0.1s) linear infinite;
}


.saturn .planet::before {
    transform: var(--saturn-tilt) scale(1.2);
    border-color: var(--saturn-color);
    color: var(--saturn-color);
}

.saturn .icon {
    transform: var(--saturn-tilt);
    color: var(--saturn-color);
}

.uranus .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--uranus-color);
}

.uranus .surface {
    background-image: var(--uranus-image);
    transform: var(--uranus-tilt) scale(1.2);
    animation: planetRotate calc(var(--uranus-day) * 0.1s) linear infinite;
}

.uranus .planet::before {
    transform: var(--uranus-tilt) scale(1.2);
    border-color: var(--uranus-color);
    color: var(--uranus-color);
}

.uranus .icon {
    transform: var(--uranus-tilt);
    color: var(--uranus-color);
}

.neptune .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--neptune-color);
}

.neptune .surface {
    background-image: var(--neptune-image);
    transform: var(--neptune-tilt) scale(1.2);
    animation: planetRotate calc(var(--neptune-day) * 0.1s) linear infinite;
}

.neptune .planet::before {
    transform: var(--neptune-tilt) scale(1.2);
    border-color: var(--neptune-color);
    color: var(--neptune-color);
}

.neptune .icon {
    transform: var(--neptune-tilt);
    color: var(--neptune-color);
}

.pluto .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--pluto-color);
}

.pluto .surface {
    background-image: var(--pluto-image);
    transform: var(--pluto-tilt) scale(1.2);
    animation: planetRotate calc(var(--pluto-day) * 0.1s) linear infinite;
}

.pluto .planet::before {
    transform: var(--pluto-tilt) scale(1.2);
    border-color: var(--pluto-color);
    color: var(--pluto-color);
}

.pluto .icon {
    transform: var(--pluto-tilt);
    color: var(--pluto-color);
}

.sun .atmosphere {
    box-shadow: inset 10px 0 12px -2px rgba(255, 255, 255, 0.2),
    inset -70px 0 50px 0 black, -5px 0 10px -4px var(--sun-color);
}

.sun .surface {
    background-image: var(--sun-image);
    transform: var(--sun-tilt) scale(1.2);
    animation: planetRotate calc(var(--sun-day) * 0.1s) linear infinite;
}

.sun .planet::before {
    transform: var(--sun-tilt) scale(1.2);
    border-color: var(--sun-color);
    color: var(--sun-color);
}

.sun .icon {
    transform: var(--sun-tilt);
    color: var(--sun-color);
}

.atmosphere {
    height: 190px;
    width: 190px;
    position: relative;
    background: radial-gradient(
            circle at 30% 50%,
            rgba(255, 255, 255, 0.3) 0%,
            rgba(255, 255, 255, 0) 65%
    );
    border-radius: 100px;
    overflow: hidden;
}

.surface {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-size: cover;
}

.sun .atmosphere {
    box-shadow: 0 0 10px 0 var(--sun-color),
    0 0 1000px -2px var(--sun-color);
}