*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #242537;
}

@media only screen and (min-width: 901px){
    h1{
        text-align: center;
        margin: 100px auto;
        color: white;
        font-size: 40px;
        font-weight: bold;
    }

    h2{
        text-align: center;
        margin: 100px auto;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }

    h3{
        text-align: center;
        margin: 80px auto;
        color: white;
        font-size: 25px;
        font-weight: bold;
    }
}

.content{
    width: 80%;
    margin: 10px auto;
    font-size: 20px;
    color: white;
}

.content p{
    padding: 10px 0;

}

.bold-content{
    font-weight: bold;
    margin: 20px auto;
}

.ul-content{
    margin: 20px auto;
}

.img-content{
    width: 500px;
    max-width: 100%;
    margin: 20px auto;
}

hr{
    margin: 50px auto;
}

.nav{
    position: relative;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav ul {
    list-style: none;
}

.nav li {
    position: relative;
    margin-bottom: 15px;
    letter-spacing: 8px;
    font-size: 30px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-transform: uppercase;
    width: max-content;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
    -webkit-text-fill-color: transparent;
}

.nav a {
    text-decoration: none;
    color: white;
}

/* BAR */
.nav li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 5px;
    height: 100%;
    background-color: var(--color);

    transition: left 0.5s linear;
}
.nav li:hover::before {
    left: 100%;
}

.nav li::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;

    -webkit-text-stroke: 1px var(--color);
    -webkit-text-fill-color: var(--color);
    overflow-x: hidden;
    user-select: none;

    pointer-events: none;
    transition: width 0.5s linear;
}

.nav li:hover::after {
    width: calc(100%);
}

.nav li:nth-of-type(1) {
    --color: #04934e;
}
.nav li:nth-of-type(2) {
    --color: #04934e;
}
.nav li:nth-of-type(3) {
    --color: #04934e;
}
.nav li:nth-of-type(4) {
    --color: #d58b16;
}
.nav li:nth-of-type(5) {
    --color: #1471dc;
}


/* mode mobile  */
@media only screen and (max-width: 992px) {

    h1{
        width: 90%;
        text-align: center;
        margin: 80px auto;
        color: white;
        font-size: 30px;
        font-weight: bold;
    }

    h2{
        width: 90%;
        text-align: center;
        margin: 80px auto;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    h3{
        width: 90%;
        text-align: center;
        margin: 60px auto;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }

    .nav{
        display: none ;
    }
}

/* Mode tablette & Desktop */

@media only screen and (min-width: 993px) {

    .mobile{
        display: none;
    }
}