<header>
    <nav class=" black" role="navigation">
        <div class="nav-wrapper container">
            <a id="logo-container" href="/" class="brand-logo">APP <?php echo $version ?></a>
            <ul id="nav-mobile" class="sidenav">
                <div style="height: 30px"></div>
                <li><a href="/"><i class="material-icons">home</i> Menu</a></li>
                <li><a href="recherche"><i class="material-icons">event_note</i> Recherche</a></li>
                <li><a href="aide"><i class="material-icons">chat</i> Aide</a></li>
                <li><a href="/public/assets/docs/recommandation_passeri_mario.pdf"><i class="material-icons">file_download</i> Lettre recommandation</a></li>
                <li><a href="https://www.linkedin.com/in/passerimario/"><i class="material-icons">explore</i> Linkedin</a></li>
                <li><div class="divider"></div></li>
                <li><br><a href="#!"><i class="material-icons">loyalty</i>By Passeri Mario</a></li>
                <li><a href="#!"><i class="material-icons">card_membership</i><?php echo $version ?></a></li>
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>
</header>
