<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title><?php echo $title; ?> Passeri Mario</title>
        <meta name="robots" content="noindex"/>
        <meta name="robots" content="noindex,nofollow"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../public/assets/css/font.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/material.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/homepage.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/font-awesome.css">
    </head>
    <body>
        <?php include 'header_footer/header.phtml' ?>

        <h1><?php echo $title; ?></h1>
        <h2>Application de démonstration pour une candidature en MASTER 2 SYNVA</h2>
        <h3>Aides</h3>

        <div style="text-align: center" class="content">

            <p>Version ordinateur de bureau  :</p>
            <p><img style="width: 95%; max-width: 600px; margin: 20px auto" src="../public/assets/img/demo.png" alt="demo app"></p>

            <p>Version application mobile :</p>
            <p><img style="width: 95%; max-width: 200px; margin: 20px auto" src="../public/assets/img/demo-mobile.png" alt="demo app"></p>

            <p>Merci de scanner ou de télécharger le code pour pouvoir utliser la réalité augmentée.</p>

            <p><img style="width: 95%; max-width: 450px; margin: 20px auto" src="../public/assets/img/hiro.jpg" alt="code app"></p>

            <a style="margin: 20px auto" class="waves-effect waves-light btn" href="../public/assets/img/hiro.jpg"><i class="material-icons right">cloud_download</i>Télécharger</a>

        </div>

        <div class="nav">
            <ul>
                <li data-text="&nbsp;RETOUR"><a class="modal-trigger" href="/">&nbsp;RETOUR</a></li>
            </ul>
        </div>

        <div class="mobile">
            <a style="display: flex; width: 50%; margin: 40px auto; justify-content: center" class="btn" href="/" >Retour</a>
        </div>

        <script src="../public/assets/js/material.min.js"></script>
        <script>M.AutoInit();</script>
    </body>
</html>

