<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title><?php echo $title; ?> Passeri Mario</title>
        <meta name="robots" content="noindex"/>
        <meta name="robots" content="noindex,nofollow"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../public/assets/css/font.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/material.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/ar.css">
        <!-- JS -->
        <script src="../public/assets/js/aframe.min.js"></script>
        <script src="../public/assets/js/aframe-ar.js"></script>
    </head>
    <body class="zone_ar">
        <?php include 'header_footer/header.phtml' ?>
        <a-scene embedded artoolkit='sourceType: webcam; debugUIEnabled: false'>
                <a-assets>
                    <img id="textures" src="<?php getTextures(); ?>"  alt="Textures">
                </a-assets>
                <a-marker preset="hiro">
                    <a-sphere animation="property:rotation; from:0 90 90; to:360 90 90; dur:10000; easing:linear; loop:true;" id="planete" src="#textures" radius="0.8" position="0 0.5 0" segments-height="80">
                    </a-sphere>
                </a-marker>
            <a-entity camera></a-entity>
        </a-scene>

        <div class="buttons">
            <button id="information" class="btn">Détails</button>
            <button id="end" class="btn">Quitter</button>
        </div>
        <!-- data -->
        <div id="info">
            <i id="xmark" class="material-icons xmark">clear</i>
            <?php
                try {
                    getResulatsPlanetes();
                }
                catch (JsonException $e) {
                }
            ?>
        </div>
        <script src="/public/assets/js/material.min.js"></script>
        <script src="/public/assets/js/app.js"></script>
        <script>M.AutoInit();</script>
    </body>
</html>

