<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <title><?php echo $title; ?> Passeri Mario</title>
        <meta name="robots" content="noindex"/>
        <meta name="robots" content="noindex,nofollow"/>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../public/assets/css/font.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/material.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/homepage.css">
        <link rel="stylesheet" type="text/css" href="../public/assets/css/font-awesome.css">
    </head>
    <body>

        <?php include 'header_footer/header.phtml' ?>

        <h1><?php echo $title; ?></h1>
        <h2>Application de démonstration pour une candidature en MASTER 2 SYNVA</h2>
        <div class="nav">
            <!-- Modal Structure -->
            <div id="modal1" class="modal">
                <div class="modal-content">
                    <div class="collection">
                        <a href="app?planete=terre" class="collection-item">Terre</a>
                        <a href="app?planete=neptune" class="collection-item">Neptune</a>
                        <a href="app?planete=mars" class="collection-item">Mars</a>
                        <a href="app?planete=venus" class="collection-item"><span class="new badge"></span>Venus</a>
                    </div>
                </div>
            </div>
            <ul>
                <li data-text="&nbsp;DÉMARRER"><a class="modal-trigger" href="#modal1">&nbsp;DÉMARRER</a></li>
                <li data-text="&nbsp;RECHERCHES"><a href="recherche">&nbsp;RECHERCHES</a></li>
                <li data-text="&nbsp;AIDES"><a href="aide">&nbsp;AIDES</a></li>
                <li data-text="&nbsp;RECOMMANDATION"><a href="/public/assets/docs/recommandation_passeri_mario.pdf">&nbsp;RECOMMANDATION</a></li>
                <li data-text="&nbsp;LINKEDIN"><a href="https://www.linkedin.com/in/passerimario/">&nbsp;LINKEDIN</a></li>
            </ul>
        </div>

        <div class="mobile">
            <ul id="dropdown2" class="dropdown-content">
                <li><a href="app?planete=terre">Terre<span class="badge"></span></a></li>
                <li><a href="app?planete=neptune">Neptune<span></span></a></li>
                <li><a href="app?planete=mars">Mars<span></span></a></li>
                <li><a href="app?planete=venus">Venus<span class="new badge"></span></a></li>
            </ul>

            <a style="display: flex; width: 50%; margin: 40px auto; justify-content: center" class="btn dropdown-trigger" href="#!" data-target="dropdown2">Démarrer AR <i class="material-icons right">arrow_drop_down</i></a>
            <a style="display: flex; width: 50%; margin: 40px auto; justify-content: center" class="btn" href="recherche" >Recherche</a>
            <a style="display: flex; width: 50%; margin: 40px auto; justify-content: center" class="btn" href="aide" >Aide</a>
            <a style="display: flex; width: 50%; margin: 40px auto; justify-content: center" class="btn orange" href="/public/assets/docs/recommandation_passeri_mario.pdf">Recommandation</a>
            <a style="display: flex; width: 50%; margin: 40px auto; justify-content: center" class="btn blue" href="https://www.linkedin.com/in/passerimario/" >Linkedin</a>
        </div>

        <p style="text-align: center"><a target="_blank" href="https://gitlab.com/Passeri_Mario/ar-application">Code du projet GitLab</a></p>

    </body>
    <script src="../public/assets/js/material.min.js"></script>
    <script>M.AutoInit();</script>
</html>
